<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_template :: head"></head>

<body>	
	
	<div class="card">
	
	<h1>Cadastro</h1>	
	
		<form class="form" th:action="@{/cadastro}" method="post" th:object="${usuario}">	
			<label for="name">Nome</label>
			<input type="text" id="name" name="name" th:field="*{name}" placeholder="Nome"></input>	
			<span class="span" th:errors="*{name}"></span>
			
			<label for="email">E-mail</label>
			<input type="text" id="email" name="email" th:field="*{email}" placeholder="E-mail"></input>
			<span class="span" th:errors="*{email}"></span>
			
			<label for="password">Senha</label>
			<input id="password" name="password" type="password" th:field="*{password}" placeholder="Senha" maxlength="8"></input>	
			<span class="span" th:errors="*{password}"></span>
			
			
			<div class="form-buttons">
				<button class="button">Salvar</button>
				<a class="button" href="/">Voltar</a>						
			</div>		
						
		</form>		
	
	</div>
	
</body>
</html>