<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_template :: head"></head>


<body>

	<main class="home">
		<div class="left">
			<h2>Donate Foods</h2>
			<p>Buscamos recursos de alimentação para ajudar pessoas carentes.
				Contribua com qualquer quantia para apoiar a nossa causa, lute
				contra a fome!</p>
		</div>
	</main>
	<div class="home">
		<a class="button-home" href="/login">Faça Login</a> <a
			class="button-home" href="/cadastro">Faça seu cadastro para
			Receber Doações</a> <a class="button-home" href="/companies/register">Faça
			sua Doação</a>
	</div>






</body>
</html>